{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "root": true,
  "env": {
    "node": true,
    "es2024": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": [
    "@typescript-eslint",
    "import",
    "unused-imports",
    "sort-keys-fix",
    "sort-destructure-keys",
    "prettier",
    "unicorn"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "settings": {
    "import/resolver": {
      "node": true,
      "typescript": true
    }
  },
  "rules": {
    "no-console": "warn",
    "import/no-duplicates": "error",
    "sort-keys-fix/sort-keys-fix": "error",
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/newline-after-import": ["error", { "count": 1 }],
    "no-unused-vars": "off",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "vars": "all",
        "varsIgnorePattern": "^_"
      }
    ],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any", "prev": "directive", "next": "directive" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "sort-destructure-keys/sort-destructure-keys": [
      "error",
      {
        "caseSensitive": true
      }
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        "minKeys": 2,
        "natural": false,
        "caseSensitive": true
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "allowSeparatedGroups": true,
        "ignoreDeclarationSort": true,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "unknown",
          "object"
        ],
        "pathGroupsExcludedImportTypes": ["type"],
        "newlines-between": "always",
        "warnOnUnassignedImports": true,
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "unicorn/better-regex": "error",
    "unicorn/prefer-node-protocol": "error"
  }
}
