{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "trailingComma": "none",
  "plugins": [],
  "overrides": []
}
